In [9]:
import pandas as pd
#We can import or create our own dataset for the calculation of mean,variance of a data. 
#We are making our own datasets using pandas
data={
    'Student':['Manikant','Shikha','Aman','Ayush','Abhishek','Devi','Mayank'],
    'Marks':[120,99,85,110,112,135,195]
}
df=pd.DataFrame(data)

In [13]:
df.head()

    Student  Marks
0  Manikant    120
1    Shikha     99
2      Aman     85
3     Ayush    110
4  Abhishek    112

In [25]:
# here we have use head to see our dataset ,is it created or not.
#Now we calculate the following :
#Calculating mean'
mean=df['Marks'].mean()
print("Mean score is",mean)

Mean score is 122.28571428571429

In [27]:
#Calculating variance
var=df['Marks'].var()
print("Variance is",var)

Variance is 1273.904761904762

In [29]:
#calculating standard deviation
std=df['Marks'].std()
print("Standard deviation is",std)

Standard deviation is 35.69180244684712

In [31]:
#calculating median 
median=df['Marks'].median()
print("Median is ",median)

Median is  112.0

In [35]:
print("Mean score is",mean)
print("Variance is",var)
print("Standard deviation is",std)
print("Median is ",median)

Mean score is 122.28571428571429
Variance is 1273.904761904762
Standard deviation is 35.69180244684712
Median is  112.0

In [33]:





#the above method is used for caclulating staistics for small data but for large data we can have other methods lets understand these from an example
df1=pd.read_csv("C:\\admission_data.csv")

df1.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [37]:
df1.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [43]:
#here we calculate mean and variance of GRE score
mean1=df1['GRE Score'].mean()
median1=df1['GRE Score'].median()
var1=df1['GRE Score'].var()
std1=df1['GRE Score'].std()



#print the above values
print("Mean of GRE is",mean1)
print("Median of GRE is",median1)
print("Variance of GRE is",var1)
print("Standard Deviation of GRE score is", std1)

Mean of GRE is 316.472
Median of GRE is 317.0
Variance of GRE is 127.58037675350688
Standard Deviation of GRE score is 11.295148372354694